<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <a herf="" class="navbar-brand h1">Amol Ecom</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-4 mr-0 mb-2 mb-lg-0">
      <li class="nav-item">
        <a routerLink="/men" class="nav-link "  routerLinkActive="active">MEN</a>
      </li>
      <li class="nav-item">
        <a routerLink="/women" class="nav-link" routerLinkActive="active" >WOMEN</a>
      </li>
      <li class="nav-item">
        <a routerLink="/kids" class="nav-link" routerLinkActive="active">KIDS</a>
      </li>
      <li class="nav-item">
        <a routerLink="/homeLiving" class="nav-link" routerLinkActive="active">HOME&LIVING</a>
      </li>
      <li class="nav-item">
        <a routerLink="/beauty" class="nav-link" routerLinkActive="active">BEAUTY</a>
      </li>
      <li class="nav-item">
        <a routerLink="/studio" class="nav-link" routerLinkActive="active">STUDIO<sup style="color: pink">NEW</sup></a>
      </li>
    </ul>
  </div>

  <form class="d-flex mr-4 w-50">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <ul class="navbar-nav mr-4" >
    <li class="link-item "><a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a></li>
    <li class="link-item"><a href="" class="nav-link">Cart(0)</a></li>
  </ul>
</nav>
