<div class="container" *ngIf="!islogin">
  <div class="row d-flex justify-content-center align-items-center">
    <div
      class="col-md-6 border border-2 .bg-body-tertiary rounded mt-5 shadow-lg border border-radius-2"
      *ngIf="true"
    >
      <h2 class="text-center">Create Account</h2>
      <form
        #signUp="ngForm"
        (ngSubmit)="SignUpData(signUp.value)"
      >
        <div class="form-group">
          <label class="form-label"
            >First Name <sup *ngIf="ifValue">*</sup></label
          >
          <input
            type="text"
            #fname="ngModel"
            class="form-control"
            name="firstName"
            ngModel
            required
          />
          <span *ngIf="fname.touched && !fname.valid" style="color: red"
            >Enter the Name</span
          >
        </div>
        <div class="form-group">
          <label class="form-label"
            >Last Name <sup *ngIf="ifValue">*</sup></label
          >
          <input
            type="text"
            #lastname="ngModel"
            class="form-control"
            name="lastName"
            ngModel
            required
          />
          <span *ngIf="lastname.touched && !lastname.valid" style="color: red"
            >Enter the Last Name</span
          >
        </div>
        <div class="form-group">
          <label class="form-label"
            >Mobile Number <sup *ngIf="ifValue">*</sup></label
          >
          <input
            type="text"
            required
            #mn="ngModel"
            class="form-control"
            name="mobileNumber"
            ngModel
            maxlength="10"
          />
          <span
            *ngIf="mn.touched && !mn.valid"
            style="color: rgba(255, 0, 0, 0.933)"
            >Enter the Mobile Number</span
          >
        </div>
        <div class="form-group">
          <label class="form-label">Email <sup *ngIf="ifValue">*</sup></label>
          <input
            #e="ngModel"
            type="email"
            class="form-control"
            name="email"
            ngModel
            email
            required
          />
          <span *ngIf="e.touched && !e.valid" style="color: red"
            >Enter the email</span
          >
        </div>
        <div class="form-group">
          <label class="form-label"
            >Password <sup *ngIf="ifValue">*</sup></label
          >
          <input
            #p="ngModel"
            type="password"
            class="form-control"
            name="password"
            ngModel
            required
          />
          <span *ngIf="p.touched && !p.valid" style="color: red"
            >Enter the password</span
          >
        </div>
        <div class="form-group">
          <label class="form-label">
            Confirm Password <sup *ngIf="ifValue">*</sup></label
          >
          <input
            #c="ngModel"
            type="password"
            class="form-control"
            name="cpassword"
            ngModel
            required
          />
          <span *ngIf="c.touched && !c.valid" style="color: red"
            >Enter the confirm password</span
          >
          <span *ngIf="c.touched && c.value !== p.value" style="color: red"
            >confirm password doesn't match</span
          >
        </div>
        <button
        type="submit"
          class="btn btn-primary"
          [disabled]="!signUp.valid"
          (click)="navigation()"
        >
          Submit
        </button>

        <a (click)="signOrSingUp()" class="custom-pointer-cursor">Already have an Accoount? click here to SignIn</a>
        
        
      </form>
    </div>
  </div>
</div>
<div class="container" *ngIf="islogin">
  <div class="row d-flex justify-content-center align-items-center">
    <div
      class="col-md-6 border border-2 .bg-body-tertiary rounded mt-5 shadow-lg border border-radius-2"
      
    >
      <h2 class="text-center mb-3">Login</h2>
      <form #signIn="ngForm"(ngSubmit)="loginInfo(signIn.value)">
        <div class="input-group form-floating mb-3">
          
           
          <input 
            type="text"
            class="form-control"
            ngModel
            placeholder="Username" 
            name="username"
            #username
            required
            id="floatingInputGroup2"
            
          />
          <!-- <label for="floatingInputGroup2">Username</label> -->
          <span class="input-group-text "><a class="" (click)="nextField()">edit</a></span>
         
        </div>
          <span *ngIf="username.touched && !username.valid"></span>
        
        <div *ngIf="displayPawwordFeild " class="input-group ">
          <!-- <label for="username">Password</label> -->

          <input
            [type]="passwordType"
            class="form-control mb-3 "
            ngModel="password"
            name="password"
            #password
            placeholder="Password"
            required
          />
          <span class="input-group-text"><a class="custom-pointer-cursor" (click)="passwordToggle()"><i class="fa-solid fa-eye" *ngIf="!eyeshow"></i><i class="fa-sharp fa-solid fa-eye-slash" *ngIf="eyeshow"></i></a></span>
          </div>
          <button class="btn btn-primary mr-3" type="button" (click)="nextField()" [disabled]="!isdisabled">Continue</button>
          
        <button type="submit" class="btn btn-primary mr-3" [disabled]="isdisabled" >Login</button>
        <a  (click)="signOrSingUp()">You don't have Account?click to SignUp</a>
    </form>
    </div>
    </div>
  </div>

